[Unit]
Description=EmojiSign
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/emojisign.py

[Install]
WantedBy=multi-user.target